html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.outer
{
  width: calc(100vmin - 60px);
  height: calc(100vmin - 60px);
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.inner
{
  border-radius: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: circle(50% at center);
  -webkit-clip-path: circle(50% at center);
}

.container
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map
{
  height: 100%;
  width: 100%;
}

.forkme
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.copyright
{
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: #ffffff;
}

#color-picker
{
  background-color: #ffffff;
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 999999;
}

#percentage-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  right: 8px;
  width: 300px;
  z-index: 999999;
}

#percentage {
  width: 100%;
}
