html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#left
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 2;
    background-color: #141C39;
}

#right
{
    background-color: #5F1117;
}

.map
{
    height: 100%;
    width: 100%;
}

#left .map
{
    width: 200%;
}