html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#left
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #141C39;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

#right
{
    background-color: #ffffff;
}

.map
{
    height: 100%;
    width: 100%;
}

#description
{
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 100;
  max-width: 90%;
  background-color: rgba( 0, 0, 0, 0.7 );
  font-size: 80%;
  color: #ffffff;
  padding: 12px;
}
